Repository Dashstrom/shrinkix: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, poe-format

check-yaml:
  name: check yaml
  description: checks yaml files for parsable syntax.
  entry: uv run check-yaml
  language: system

check-json:
  name: check json
  description: checks json files for parsable syntax.
  entry: uv run check-json
  language: system

check-toml:
  name: check toml
  description: checks toml files for parsable syntax.
  entry: uv run check-toml
  language: system

poe-format:
  name: ruff linter, ruff formatter and mypy
  entry: uv run poe format
  language: system
  pass_filenames: false

ci: remove uv cache
  .github/actions/setup-project/action.yml
Due: check-yaml

Remove CI cache
  .github/actions/setup-project/action.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: check-yaml

ci: use python 3.13 as upper bound, use poe doc over poe docs
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  pyproject.toml
Due: check-yaml, check-toml

Release v1.1.0 as stable
  README.md
  pyproject.toml
Due: check-toml

ci: Fix missing docs
  .github/workflows/docs.yml
Due: check-yaml

ci: bump version and minor change
  .github/actions/setup-project/action.yml
  .github/workflows/lint.yml
  mkdocs.yml
  pyproject.toml
Due: check-yaml, check-toml

deploy: 55d14183ff3ca89830d66477eebdeef519d24bb9
  .nojekyll
  404.html
  assets/_mkdocstrings.css
  css/fonts/Roboto-Slab-Bold.woff
  css/fonts/Roboto-Slab-Bold.woff2
  css/fonts/Roboto-Slab-Regular.woff
  css/fonts/Roboto-Slab-Regular.woff2
  css/fonts/fontawesome-webfont.eot
  css/fonts/fontawesome-webfont.svg
  css/fonts/fontawesome-webfont.ttf
  css/fonts/fontawesome-webfont.woff
  css/fonts/fontawesome-webfont.woff2
  css/fonts/lato-bold-italic.woff
  css/fonts/lato-bold-italic.woff2
  css/fonts/lato-bold.woff
  css/fonts/lato-bold.woff2
  css/fonts/lato-normal-italic.woff
  css/fonts/lato-normal-italic.woff2
  css/fonts/lato-normal.woff
  css/fonts/lato-normal.woff2
  css/theme.css
  css/theme_extra.css
  developer_interface/index.html
  img/favicon.ico
  index.html
  js/html5shiv.min.js
  js/jquery-3.6.0.min.js
  js/theme.js
  js/theme_extra.js
  objects.inv
  search.html
  search/lunr.js
  search/main.js
  search/search_index.json
  search/worker.js
  sitemap.xml
  sitemap.xml.gz
Due: check-json

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$, but not: ^.vscode
  check-toml: any of: \.toml$
  poe-format: any of: \.py$
